body{font-size: 16px; width: 100%; font-family: "微软雅黑"; }
a{text-decoration: none; color:#000;}
ul{margin: 0; padding: 0;}
h2{font-weight: 300;}
.clearfix:after{
  content: ""; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;  
  }

.clearfix {
  zoom: 1; 
  }
/*首页*/
.active{color:#f3643c;}
.hover{color:#fff; background-color: #2c3e50;}
.ahover{color:#fff;}
.header{width: 100%; margin: 0 auto;}
.top{width: 100%; height: 35px; background-color: #2c3e50; }
.nav{width: 100%; height: 85px;background-color: #fff;}
.navinner{width: 1220px; height: 85px; margin: 0 auto; background-color: #fff;}
.logo{padding-top:15px; display: block; float:left;}
.ul_nav{float: left; margin-left: 200px;}
.ul_nav li{list-style-type: none; float: left; width: 100px; height: 85px; line-height: 85px; text-align: center;}
.banner{width: 100%; background-size: cover;}
.banner img{width: 1410px; margin: 0 auto;display: block;}
.vediofloat{ position: relative;}
.myvedio{width: 1440px;height: 260px; margin: 0 auto;  top: -153px; z-index: 2;  position: absolute; background-color:#fff;
filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
.vediolist{width: 265px;height: 220px; border: 3px solid #1dd2af; border-radius: 5px; margin-top: 24px; float:left; z-index: 10; margin-left:39px;/*position:absolute;*/}
/*
#vedio1{left:120px; z-index: 20;position:absolute;}
#vedio2{left:430px;}
#vedio3{left:740px;}
#vedio4{left:1050px;}
*/
.listone{margin-left:105px; }
.content{width: 1420px; margin:0 auto; clear:both; margin-top:165px;}
.conheader{margin: 0 auto; width: 620px; text-align: center; }
.conpic{width: 1200px; margin: 0 auto; margin-top: 120px;  vertical-align: bottom;}
.piclist img{text-align: center; display: block; margin:0 auto;}
.piclist{background-color: #eeeeee;width: 360px;height: 360px;border-radius: 5px; float: left; padding-top:5px; }
.piclist.middle{margin:0 60px;}
.piclist p{padding:20px 20px; width: 340px;line-height: 20px;}
.piclist.pic_last{width: 347px;height: 390px; margin-top: -30px; border:3px solid #1dd2af;background-color: #2c3e50; color:#fff;}
.piclist.pic_last img{margin-top: -5px;}
.footer{width: 100%; background-color: #2c3e50; margin-top: 100px; padding-top:20px;}
.footerinner{width: 1200px; margin: 0 auto; overflow: hidden;}
.leftfooter{color:#fff; width: 460px; float:left;}
.leftfooter p{font-size: 14px;}
.leftfooter span{font-size: 16px; font-weight: bold;}
.lfooter_p{font-size: 14px;}
.rightfooter{color:#fff; float:right;width: 176px; margin-top: 10px;}
.rightfooter img{float: right;}
.rightfooter span{padding-top: 50px; width: 64px;display: block;float:left;}
.com_right{width: 1220px;text-align: center;clear:both; color:#fff; font-size: 12px;}


/* 公司介绍*/
.introbanner{height: 283px;width: 100%;background-color: #2c3e50;}
.introbanner_inner{width: 1200px;margin: 0 auto;}
.introcontent{width: 100%; background-color: #fff;}
.introcontent_inner{width: 1200px; margin:0 auto; background: url(../images/conbg.jpg) no-repeat top center;margin-top: 74px; padding:70px;}
.introcontent_inner p{padding:0 60px; width:1012px;line-height: 34px; margin:0 auto;}
.introinfo{border: 1px solid #bcc2c7; padding-left:45px; width:967px; height: 206px; margin:80px auto; }
.intropic{margin: 0 auto;}

/* 智能农机详情页*/

.detailbanner{height: 283px;width: 100%;background-color: #2c3e50;}
.detailbanner_inner{width: 1200px;margin: 0 auto;}
.detailcontent{width: 100%; background-color: #fff;}
.detailcontent_inner{width: 1200px; margin: 0 auto;}
.sidenav{float:left;border: 1px solid #d9dada; margin-top: 80px;}
.sidenav li{list-style: none;width: 200px;height: 54px;line-height: 54px; text-align: center;}
.sidenav a{width: 152px;height: 54px;border-bottom: 1px solid #d9dada;display: block;margin: 0 auto;}

.detailconright{width: 954px;float: left; margin-left: 40px;}
.detlocation{margin-top: 80px;}
.deconpic{width: 490px; float:left;height:348px;border: 1px solid #d9dada;margin-top: 36px;line-height: 348px;text-align: center;}
.detproduct{margin-top: 20px;}
.product_info{float: left;width: 400px;height: 348px;margin-left: 50px;}
.proname{font-size: 32px; margin-top: 38px;display: block; font-weight: bold;}
.pro_des{margin:10px 0px 20px;display: block; line-height: 25px; font-weight: bold;}
.product_info p{line-height: 62px; border-bottom: 1px solid #dddddd;}
.pro_price{color:#f3643c;font-size: 36px;}
.pro_shuoming{font-weight: bold; clear: both; padding-bottom:16px;margin-top: 50px; border-bottom: 1px solid #dddddd;}
.pro_text{line-height: 30px;}

/* 智能农机列表页面*/
.smart_list.listhover{border:1px solid #f3643c;}
.smart_list .spanhover{background-color: #f3643c;color:#fff;}
.smart_pro{width: 1000px; margin-left: -20px;}
.smart_list{width: 468px; height: 458px;border:1px solid #d9dada; float:left; margin-top: 20px; margin-left: 20px;}
.list_image{width: 468px;height: 368px;}
.slist_con{background-color: #d9dada; width: 448px;height: 70px; padding: 10px;}
.slist_con span{font-size: 16px; font-weight: bold;}
.slist_con p{font-size: 12px;}
.page{margin-top: 70px; margin-left: 402px;width: 580px;}
.ul_page{border-left:1px solid #eeeeee; border-bottom: 1px solid #eeeeee; border-top: 1px solid #eeeeee; overflow: hidden;width: 180px; float:left; }
.ul_page li{list-style: none;float:left; border-right:1px solid #eeeeee; width: 35px;height: 35px; text-align: center;line-height: 35px;border}
.shang,.dian,.xia{float:left; line-height: 35px;}
.shang{width: 70px;height: 35px;border:1px solid #eeeeee;margin-right: 5px;text-align: center;}
.xia{width: 70px;height: 35px;border:1px solid #eeeeee; text-align: center;}
.tiao{float:left;height: 35px;line-height: 35px;margin: 0;padding-left: 10px;font-size: 14px;}
.tiaonum{width: 35px;}
.page_sub{width: 40px;height: 20px; text-align: center; background-color: #fff; border:1px solid #eeeeee;line-height: 20px;font-size: 10px;}

/* 智能研发页面*/

.study_con{width: 860px;border:1px solid #d9dada;padding: 50px; margin-top: 40px;}
.studyicon{display: inline-block;float:left;}
.study_con1 p,.study_con2 p,.study_con3 p,.study_con4 p{width: 778px;  float:left; margin-left: 18px; margin-top: 12px;}
.study_con2{margin-top: 25px;}
.studyqi_img{float: right;}

/*拓展规划页面*/

.plancontent{width: 960px;padding-top: 40px;}
.plan_pre{width: 885px; border:1px solid #20d3b0;padding: 12px; padding-right:50px;background:  url(../images/planimg_11.jpg) top right no-repeat; line-height: 30px;}
.prog_icon{margin-top: 45px;}
.plan_prog{width: 885px; border:1px solid #20d3b0;padding: 12px; padding-right:50px; background:  url(../images/planimg_17.jpg) top right no-repeat; line-height: 30px;}

/*合作与销售页面*/
.cor_span{display: block; margin: 0 auto;width: 400px;font-size: 26px;padding:12px 0;}
.corper_pre{width: 896px; border:1px solid #20d3b0;padding: 12px; padding-right:50px;background:  url(../images/planimg_11.jpg) top right no-repeat; line-height: 30px; }
.woshou{position: absolute;top:-18px;}
.corpercontent{width: 960px;padding-top: 40px;}
.wohoufloat{position: relative;height: 236px;}
.corper_tel{line-height: 30px;}
